<nav class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3" style="max-width: 100%; height: auto;" id="mainNav">
	<div class="container">
		<a class="navbar-brand d-flex align-items-center" href="/">
			<span class="bs-icon-sm bs-icon-circle shadow d-flex justify-content-center align-items-center me-2 bs-icon">
				<img src="{{ asset('assets/images/logo.png') }}" alt="Logo" width="128" height="128" style="max-width: 100%; height: auto;">
			</span>
			<span>Mayk - Consulting&nbsp;</span>
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcol-1">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('welcome') }}">Acceuil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#pricing">Tarif</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contact_us">Contact</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="/administration">Administration</a>
					</li>
				{% endif %}
				{% if not app.user %}

										<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
					</li>
				{% endif %}
			</ul>
			{% if not app.user %}
				<a class="btn btn-dark btn-sm shadow" href="{{ path('app_login') }}" role="button">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="-32 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-4">
						<path d="M352 128C352 198.7 294.7 256 224 256C153.3 256 96 198.7 96 128C96 57.31 153.3 0 224 0C294.7 0 352 57.31 352 128zM209.1 359.2L176 304H272L238.9 359.2L272.2 483.1L311.7 321.9C388.9 333.9 448 400.7 448 481.3C448 498.2 434.2 512 417.3 512H30.72C13.75 512 0 498.2 0 481.3C0 400.7 59.09 333.9 136.3 321.9L175.8 483.1L209.1 359.2z"></path>
					</svg>
				</a>

			{% else %}
				<a class="btn btn-danger btn-sm shadow" href="/logout">Déconnexion</a>
			{% endif %}
		</div>
	</div>
</nav>
