<!DOCTYPE html>
<html>
<head>
    <title>Confirmation Email</title>
</head>
<body>
    <h1>Bonjour ! Veuillez confirmer votre adresse e-mail.</h1>
    <p>Cliquez sur le lien ci-dessous pour confirmer votre adresse e-mail :</p>
    <a href="{{ signedUrl }}">Confirmer mon adresse e-mail</a>
    <p>Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
    <p>Cordialement,</p>
    <p>Mayk Consulting Services</p>
</body>
</html>
